*{
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Jost", system-ui !important;
}
.image{
  width: 300px;
}
#submit{
  background: none;
  border: solid 2px #2c71b7;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
#submit:hover{
  background: #ffcb05;
  color: #2c71b7;
  transform: scale(1.2);
}
.PokeCard{
  border: 5px solid #2c71b7;
  border-radius: 10px;
  width: 300px;
  height: 410px;
  background-color: #ffcd05d0;
}
#PokeStatsTable{
  width: 200px;
}
#PokeStatsTable tr{
  margin: 50px;
}