*{
  padding: 0px !important;
  margin: 0px !important;
}
.image{
  width: 300px;
}
#submit{
  background: none;
  border: solid 2px #2c71b7;
  color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
#submit:hover{
  background: #ffcb05;
  color: #2c71b7;
  transform: scale(1.2);
}
.PokeCard{
  border: 2px solid #2c71b7;
  border-radius: 20px;
}